{% extends "base.html" %}

{% block content %}
<div class="four wide centered column">
    <form class="ui form" action="/login" method="post">
      <div class="field">
        <label>Username</label>
        <input type="text" name="username" placeholder="Ім'я">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Пароль">
      </div>
      <button class="ui button positive" type="submit">Log in</button>
      <button class="ui button positive" type="submit">Register</button>
    </form>
    {% if error is defined %}
        <h4>Error: wrong login or password</h4>
    {% endif %}
</div>
{% endblock %}
